<div class="inicio">

  <div class="p-d-flex cabecera p-jc-between">
    <div class="logo">
      <img src="assets/images/sistemasUNL_azul.png" width="100%" height="70px">
      <!-- <h3> Carrera de Ingeniería en Sistemas/Computación</h3> -->
    </div>
    <a routerLink="/login" pButton pRipple type="button" class="p-button-text colorF" icon="pi pi-user"
      label="Iniciar Sesión"></a>
  </div>
  <div class="p-col-12">
    <h1 style="color: white;padding-left: 8%;padding-right: 8%;">CONTROL Y SEGUIMIENTO DE TUTORÍAS ACADÉMICAS Y
      DE TITULACIÓN EN LA CARRERA INGENIERÍA EN SISTEMAS/COMPUTACIÓN DE UNL</h1>
  </div>
  <div class="p-grid cuerpo p-pl-3">
    <div class="p-col-6">
      <p-card>
        <div class="p-grid">
          <div class="p-col-6">
            <img src="assets/images/img3.jpg" class="img-descrip">
          </div>
          <div class="p-col-6 texto-descrip">

            <span>El módulo permitirá la automatización de los procesos de tutorías académicas y de titulación
              beneficiando
              a
              los docentes como a los estudiantes de la carrera Ingeniería en Sistemas/Computación de la UNL.<br> Las
              actividades principales que pueden realizar son:

              <ul>
                <li>Solicitud de tutoría Académicas o titulación</li>
                <li>Registro de actividades</li>
                <li>cancelación de tutorías</li>
                <li>Encuestas a tutorías</li>
                <li>Reagendar tutorías</li>


              </ul>
            </span>
          </div>
        </div>
      </p-card>
    </div>

    <div class="p-col-5 p-offset-1">
      <p-card>
        <h2 class="texto-descrip"> <b>Diagrama BPMN del proceso de tutorías</b> </h2><br>
        <hr><br>

        <img src="assets/images/vfinal.png" class="img-modal" (click)="displayBasic2 = true">
        <p-galleria [(value)]="images" [(visible)]="displayBasic2" [responsiveOptions]="responsiveOptions"
          [containerStyle]="{'max-width': '2050px'}" [numVisible]="7" [circular]="true" [fullScreen]="true"
          [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
          </ng-template>

          <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
              <img [src]="item.thumbnailImageSrc" style="display: block;" />
            </div>
          </ng-template>
        </p-galleria>
      </p-card>
    </div>

  </div>
</div>
