
<!-- <div class="menu">
  <aside class="sidebar">
    <header></header>
    <nav class="sidebar-nav">
       <span class="p-component"> Menú  Tutoria</span><br>
       <ul >
         <li *ngFor="let item of menu">
           <a routerLink="{{item.menu}}">
             <b>{{item.label}}</b>
           </a>
         </li>
       </ul>
    </nav>
  </aside>
</div> -->

<div class="menu">
  <aside class="sidebar">
    <header>
      <!-- <img src="assets/images/unl2.png" width="100%" height="100%"> -->
    </header>
    <nav class="sidebar-nav">
      <p-panelMenu [model]="menu" [style]="{'width':'100%'}"></p-panelMenu>
    </nav>
  </aside>
</div>





