.menu{
  width:240px;
  z-index: 0;
  height: 100%;
  position: fixed;
  padding: 0px;
  box-shadow: 3px 0 5px 0 rgb(0 0 0 / 15%);

}

//menu
.sidebar {
  height: 100%;
  //overflow:hidden;
  background-color: #f8fafc;
  color: #070707 !important;
  transform: translateZ(0);

  header{
    height: 75px;
    width: 100%;
    display:block;
    //background-color: #ffffff75;
    background-color: #ffffff;
    padding: 0px;


  }
}
img{
  display: none;
}
/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  //background-color: #1d3557;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;

}
.menu-responsive
{
  width:240px;

  height: 100%;
  position: fixed;
}
.header-responsive{
  width: 100%;
	background: #4E94AB;

}

.sidebar-responsive {
  height: 100%;
  //overflow:hidden;
  background-color: #f8fafc;
  color: #070707 !important;
  transform: translateZ(0);

  header{
    height: 75px;
    width: 100%;
    display:block;
    //background-color: #ffffff75;
    background-color: #ffffff;
    padding:20px;
  }
}



@media only screen and (max-width: 871px){
  .menu{
    display: none;
    //z-index: 2;

  }
  // img{
  //   display: block;
  // }
  // .sidebar{
  //   header{
  //     height: 100px;
  //     width: 100%;
  //     padding: 8px;
  //     background-color: #1d3557;
  //   }
  // }

}


