<p-panel header="Registro Datos">
  <div class="p-col-12 p-md-6 p-md-offset-3 p-grid p-formGrid p-fluid" [formGroup]="formularioUsuario">
    <div class="p-field p-col-12">
      <label for="nombres">Nombres:</label>
      <input id="nombres" type="text" formControlName="nombres" pInputText>
      <input-invalido nombreControlError="nombres"></input-invalido>
    </div>
    <div class="p-field p-col-12">
      <label for="apellidos">Apellidos:</label>
      <input id="apellidos" type="text" formControlName="apellidos" pInputText>
      <input-invalido nombreControlError="apellidos"></input-invalido>
    </div>
    <!-- <div class="p-field p-col-12" *ngIf="tipoUsuario == 2">
      <label for="ciclo">Ciclo</label>
      <input id="ciclo" type="text" formControlName="ciclo" maxlength="2" pInputText>
      <input-invalido nombreControlError="ciclo"></input-invalido>
    </div> -->
    <div class="p-field p-col-12 p-md-3" *ngIf="tipoUsuario == 2">
      <label for="paraleloEstudiante" >Ciclo:</label>
      <p-dropdown [options]="ciclo" inputId="ciclo" formControlName="ciclo" optionLabel="name"
        placeholder="Escoge una opcion"></p-dropdown>
    </div>
    <div class="p-field p-col-12" *ngIf="tipoUsuario == 2">
      <label for="paralelo">Paralelo:</label>
      <input id="paralelo" type="text" formControlName="paralelo" maxlength=" 1" pInputText>
      <input-invalido nombreControlError="paralelo"></input-invalido>
    </div>
    <div class="p-col-12 p-d-flex p-jc-start">
      <div class="p-mr-2 "><button pButton pRipple type="button" label="Guardar" icon="pi pi-save"
          (click)="guardarDatos()"></button>
      </div>
    </div>
  </div>
  <div class="p-col-12" *ngIf="datosPersona">
      <p-card header="Actualizar clave">
        <div class="p-col-12 p-md-6 p-md-offset-3 p-grid p-formGrid p-fluid" [formGroup]="formularioClave">
          <div class="p-field p-col-12">
            <label for="clave">Clave:</label>
            <input id="clave" type="password" formControlName="clave" pInputText>
            <input-invalido nombreControlError="clave"></input-invalido>
          </div>
          <div class="p-field p-col-12">
            <label for="repetirClave">Repetir clave:</label>
            <input id="repetirClave" type="password" formControlName="repetirClave" pInputText>
            <input-invalido nombreControlError="repetirClave"></input-invalido>
          </div>

          <div class="p-col-12 p-d-flex p-jc-start">
            <div class="p-mr-2"><button pButton pRipple class="p-button-success" type="button" label="Guardar" icon="pi pi-key"
                (click)="guardarClave()"></button>
            </div>
          </div>
        </div>
      </p-card>
  </div>
</p-panel>


