<div class="p-col-12 cabecera p-grid">
  <div class="logo">
    <!-- <img src="assets/images/sistemasUNL.svg" width="100%" height="70px"> -->
    <img class="img-normal" src="assets/images/unl2.png" width="100%" height="100%">

    <div class="res">

      <button pButton pRipple type="button" label="Menu" class="p-button-text colorF" icon="pi pi-chevron-down"  iconPos="right" (click)="menu2.toggle($event)"></button>
      <p-menu #menu2 [popup]="true" [model]="menus"  autoZIndex="false"></p-menu>
    </div>

  </div>

  <div class="p-col p-pb-0 p-pl-0 p-pr-3 p-grid p-ai-center p-jc-center p-d-none p-d-md-inline-flex">
    <h2 class="colorF">Proceso de tutorías CIS/Computación</h2>
  </div>

  <div class="p-col p-pb-0 p-pl-0 p-pr-0 p-grid p-ai-center p-jc-end">
    <div class="p-mr-1">
      <button pButton pRipple type="button" label="{{nombreUsuario}}" class="p-button-text colorF" icon="pi pi-chevron-down"  iconPos="right" (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="items"  autoZIndex="false"></p-menu>
    </div>
  </div>

</div>

<!-- <div class="res">
  <button pButton pRipple type="button" label="{{nombreUsuario}}" class="p-button-text colorF" icon="pi pi-chevron-down"  iconPos="right" (click)="menu.toggle($event)"></button>
      <p-menu #menu [popup]="true" [model]="items"  autoZIndex="false"></p-menu>
</div> -->

