.cabecera {
  height: 75px;
  padding: 0px;
  background-color:  #1d3557;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 15%);
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-left: 0rem;
}

.logo {
  width: 240px;
}

.vertical-container > div {
  height: 100%;
}

:host ::ng-deep {
  .p-button:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
  }
  .p-button.p-button-text:enabled:active {
    background: rgb(0 123 255 / 0%) !important;

  }
.colorF{
  color: #fafafa !important;

}
  .p-menu{
    position: fixed !important;
    display: block !important;
  }
}
.res{
  display: none;
}


@media only screen and (max-width: 872px){
  img{
    display: none;
  }
  .res{
    display: block;
  }

 }










