<p-panel header="Administración Días Tutorias">
  <div class="p-grid">

    <div class="p-col-12 p-d-flex p-jc-between">
      <div></div>
      <button pButton pRipple type="button" [label]="nuevoDia?'Cancelar':'Agregar Hora'" (click)="nuevoDia = !nuevoDia"
        [ngClass]="{'boton-accion-secundaria':nuevoDia}"></button>
    </div>

    <div class="p-col-10 p-offset-1 p-sm-8 p-sm-offset-2 p-fluid p-grid" [formGroup]="formDiasTutoria" *ngIf="nuevoDia">
      <div class="p-field p-col-12 p-sm-8">
        <label for="diaSemana" style="font-weight: 500;">Seleccione el día</label>
        <p-dropdown [options]="diasSemana" inputId="diaSemana" formControlName="diaSemana" optionLabel="name"
          placeholder="Escoge una opción"></p-dropdown>
        <input-invalido nombreControlError="diaSemana"></input-invalido>
      </div>
      <div class="p-field p-col-12 p-sm-4 p-pt-sm-5">
        <button pButton pRipple type="button" label="Agregar Hora" (click)="agregarHora()"></button>
      </div>
      <div class="p-col-12 p-fluid p-formgrid p-grid">
        <div class="p-field p-col-4 p-text-bold p-text-center">Hora Inicio</div>
        <div class="p-field p-col-4 p-text-bold p-text-center p-pl-0">Hora Fin</div>
        <div class="p-field p-col-2 p-text-bold p-text-center p-pl-0">Tipo Tutoría</div>
        <div class="p-field p-col-2 p-text-bold p-text-center p-pl-0"></div>
        <ng-container formArrayName="horaTutoria">
          <ng-container *ngFor="let _ of listaHoras.controls, index as i" [formGroupName]="i">
            <div class="p-field p-col-4">
              <p-calendar inputId="horaInicio" formControlName="horaInicio" [timeOnly]="true"></p-calendar>
              <input-invalido nombreControlError="horaInicio" *ngIf="_.get('horaInicio').invalid"></input-invalido>
            </div>
            <div class="p-field p-col-4 p-pl-0">
              <p-calendar inputId="horaFin" formControlName="horaFin" [timeOnly]="true"></p-calendar>
              <input-invalido nombreControlError="horaFin" *ngIf="_.get('horaFin').invalid"></input-invalido>
            </div>
            <div class="p-field p-col-2 p-pl-0">
              <p-dropdown [options]="[{code:0,name:'ACADÉMICA'},{code:1,name:'TITULACIÓN'}]" inputId="tipoTutoria" formControlName="tipoTutoria" optionLabel="name"
                placeholder="Escoge una opcion"></p-dropdown>
              <input-invalido nombreControlError="tipoTutoria" *ngIf="_.get('tipoTutoria').invalid"></input-invalido>
            </div>
            <div class="p-field p-col-2 p-pl-0">
              <button pButton pRipple type="button" label="Borrar" icon="pi pi-trash" (click)="borrarDia(i)"></button>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="p-col-2 p-offset-5">
        <button pButton pRipple type="button" label="Guardar" (click)="guardarHorasTutorias()"></button>
      </div>
    </div>

    <div class="p-col-12" *ngIf="!nuevoDia">
      <p-table [value]="listaDiasTutoria">
        <ng-template pTemplate="header">
          <tr>
            <th>Día</th>
            <th>Horas</th>
            <th>Tipo</th>
            <th>Opciones</th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-tutoria>
          <tr>
            <td [attr.rowspan]="tutoria.horaDia.length+1">{{tutoria.dia | uppercase}}</td>
          </tr>
          <tr *ngFor="let item of tutoria.horaDia, index as i">
            <td>De {{item.horaInicio | hora:'h:m'}} a {{item.horaFin | hora:'h:m'}}</td>
            <td>{{item.tipoTutoria == 0?'ACADÉMICA':'TITULACIÓN'}}</td>
            <td>
              <button pButton pRipple type="button" icon="pi pi-trash"
                class="p-button-rounded boton-accion-secundaria p-mr-2" (click)="borrarHora(item.externalHora,$event)"></button>
              <p-confirmPopup></p-confirmPopup>
            </td>
            <td *ngIf="i == 0" [attr.rowspan]="tutoria.horaDia.length+1">
              <div class="p-d-flex p-jc-center">
                <button pButton pRipple type="button" icon="pi pi-trash"
                  class="p-button-rounded boton-accion-secundaria p-mr-2" (click)="borrarDiaHora(tutoria.externalDia,$event)"></button>
                <p-confirmPopup></p-confirmPopup>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-panel>




<!--


<div class="p-col-12 p-grid">
    <div class="p-col-12 p-fluid p-formgrid p-grid">
      <div class="p-field p-col-4 p-text-bold p-text-center">Hora Inicio</div>
      <div class="p-field p-col-4 p-text-bold p-text-center">Hora Fin</div>
      <div class="p-field p-col-2 p-text-bold p-text-center">Tipo Tutoria</div>
      <div class="p-field p-col-2 p-text-bold p-text-center"></div>
    </div>
    <ng-container formArrayName="horaTutoria">
      <ng-container *ngFor="let _ of listaHoras.controls, index as i" [formGroupName]="i">
        <div class="p-col-12 p-fluid p-formgrid p-grid">
          <div class="p-field p-col-4">
            <input id="horaInicio" type="text" formControlName="horaInicio" pInputText>
            <input-invalido nombreControlError="horaInicio" *ngIf="_.get('horaInicio').invalid"></input-invalido>
          </div>
          <div class="p-field p-col-4">
            <input id="horaFin" type="text" formControlName="horaFin" pInputText>
            <input-invalido nombreControlError="horaFin" *ngIf="_.get('horaFin').invalid"></input-invalido>
          </div>
          <div class="p-field p-col-2">
            <input id="tipoTutoria" type="text" formControlName="tipoTutoria" pInputText>
            <input-invalido nombreControlError="tipoTutoria" *ngIf="_.get('tipoTutoria').invalid"></input-invalido>
          </div>
          <div class="p-field p-col-2">
            <button pButton pRipple type="button" label="Cancelar" (click)="agregarHora()"></button>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

 -->
