<div class="p-grid p-ai-center body">

  <div class="fondo"></div>

  <div class="p-col-10 p-offset-1 p-sm-8 p-sm-offset-2 p-md-4 p-md-offset-4 formulario">
    <p-card>
      <div class="p-grid">
        <div class="p-col-12 p-pt-3">
          <!-- <img src="assets/images/sistemasUNL.svg" width="100%" height="70px"> -->
          <img src="assets/images/cisc.png" style="border-radius: 20px;  margin-left: 30%;">
        </div>
        <div class="p-col-12">
          <h3 class="p-mt-1 p-mb-0">{{!verFormRegistro?'Iniciar Sesión':'Complete los Datos'}}</h3>
        </div>
      </div>
      <div [formGroup]="formLogin" class="p-fluid">
        <div class="p-field">
          <label for="correo">Correo</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input id="correo" type="text" formControlName="correo" pInputText>
          </div>
          <input-invalido nombreControlError="correo"></input-invalido>
        </div>
        <div class="p-field">
          <label for="clave">Contraseña</label>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input id="clave" type="password" formControlName="clave" pInputText>
          </div>
          <input-invalido nombreControlError="clave"></input-invalido>
        </div>
        <div class="p-field" *ngIf="verFormRegistro">
          <label for="tipoUsuario">Tipo Usuario</label>
          <div class="p-grid" style="margin-top: 1.5px;">
            <div class="p-col-6">
              <p-radioButton inputId="tipoUsuario" [value]="2" label="Estudiante" formControlName="tipo">
              </p-radioButton>
            </div>
            <div class="p-col-6">
              <p-radioButton inputId="tipoUsuario" [value]="1" label="docente" formControlName="tipo">
              </p-radioButton>
            </div>
          </div>
          <input-invalido nombreControlError="tipo"></input-invalido>
        </div>
        <!-- <p-messages [(value)]="msgs"></p-messages> -->
      </div>
      <div class="p-col-12 p-pl-0 p-pr-0">
        <div class="p-d-flex p-jc-between">
          <button pButton type="button" label="{{!verFormRegistro?'Ingresar':'Registrarse'}}" class=" p-mr-5 p-button-success" (click)="!verFormRegistro?logearse():registrarse()" [disabled]="!formLogin.valid"></button>
          <button pButton pRipple type="button"  class="p-button-info boton-accion-cancelar" (click)="!verFormRegistro?regresar():formRegistro()" label="Cancelar"></button>
        </div>
      </div>
      <div class="p-col-12 p-pr-0 p-pl-0" *ngIf="!verFormRegistro">
        <span>¿No tienes cuenta? <a style="color: #f5f5f5; font-weight: 500; cursor: pointer;" (click)="formRegistro()">Registrate Aquí</a></span>
      </div>
      <div class="p-col-12 p-pr-0 p-pl-0" >
        <span>Recuperar clave <a style="color: #f5f5f5; font-weight: 500; cursor: pointer;" routerLink="/recuperar-clave">Clic Aquí</a></span>
      </div>



      <!-- <p-footer>
        afsfasdf
      </p-footer> -->
    </p-card>
  </div>
</div>
