<p-panel header="Configuración de correo SMTP">
  <div class="p-grid">
    <div class="p-col-12 p-grid" [formGroup]="formSmt">
      <div class="p-col-12 p-fluid p-pt-0 p-pb-0" [ngClass]="verFormSmtp?'p-md-4':'p-md-4'">
        <div class="p-field">
          <label for="correo">Correo</label>
          <input id="correo" type="text" formControlName="correo" pInputText>
          <input-invalido nombreControlError="correo"></input-invalido>
        </div>
      </div>

      <div class="p-col-12 p-fluid p-pt-0 p-pb-0" [ngClass]="verFormSmtp ?'p-md-4':'p-md-4'">
        <div class="p-field">
          <label for="clave">Contraseña</label>
          <input id="clave" type="text" formControlName="clave" type="password" pInputText>

          <input-invalido nombreControlError="clave"></input-invalido>
        </div>
      </div>
      <div class="p-col-12 p-fluid p-pt-0 p-pb-0" [ngClass]="verFormSmtp ?'p-md-4':'p-md-4'">
        <div class="p-field">
          <label for="puerto">Puerto</label>
          <input id="puerto" type="text" formControlName="puerto" pInputText>

          <input-invalido nombreControlError="puerto"></input-invalido>
        </div>
      </div>

      <div class="p-col-12 p-md-2 p-fluid" style="padding-top: 20px;">
        <div class="p-field">
          <button pButton pRipple type="button" [ngClass]="verFormSmtp?'p-button-warning':'p-button-info'"
            [label]="verFormSmtp?'Guardar':'Editar'" (click)="editarSmt()"></button>
        </div>
      </div>

      <div class="p-col-12 p-md-2 p-fluid" style="padding-top: 20px;" *ngIf="verFormSmtp">
        <div class="p-field">
          <button pButton pRipple type="button" class="boton-accion-secundaria" label="Cancelar"
            (click)="cancelarSmt()"></button>
        </div>
      </div>

    </div>

  </div>
</p-panel>

<br>


<p-panel header="Configuración de periodos académicos">
  <div class="p-grid">
    <div class="p-col-12">
      <button pButton pRipple type="button" class="p-button-info" label="Agregar" (click)="verFormPedriodo = true;"
        *ngIf="!verFormPedriodo"></button>
      <div class="p-col-12 p-grid" [formGroup]="formularioPeriodos" *ngIf="verFormPedriodo">
        <div class="p-col-12 p-md-3 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="nombrePeriodo">Nombre</label>
            <input id="nombrePeriodo" type="text" formControlName="nombrePeriodo" pInputText>
            <input-invalido nombreControlError="nombrePeriodo"></input-invalido>
          </div>
        </div>

        <div class="p-col-12 p-md-3 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="fechaInicio">Fecha Inicio</label>
            <p-calendar formControlName="fechaInicio" dateFormat="yy-mm-dd"></p-calendar>
            <input-invalido nombreControlError="fechaInicio"></input-invalido>
          </div>
        </div>

        <div class="p-col-12 p-md-3 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="fechaFin">Fecha Fin</label>
            <p-calendar formControlName="fechaFin" dateFormat="yy-mm-dd"></p-calendar>
            <input-invalido nombreControlError="fechaFin"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-md-3 p-d-flex p-jc-center" style="padding-top: 20px;">
          <button pButton pRipple type="button" class="p-button-warning" label="Guardar"
            (click)="guardarPeriodo()"></button>
          <button pButton pRipple type="button" class="boton-accion-secundaria" label="Cancelar"
            (click)="cancelarGuardado()"></button>
        </div>
      </div>
    </div>
    <p-table [value]="periodoCis" styleClass="p-datatable-responsive-demo" *ngIf="!verFormPedriodo">
      <ng-template pTemplate="header">
        <tr>
          <th>Periodo Académico</th>
          <th>Fecha inicio</th>
          <th>Fecha fin</th>
          <Th>Estado</Th>
          <th>Opción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-objeto let-rowIndex="rowIndex">
        <tr>
          <td>{{objeto.nombrePeriodo }}</td>
          <td>{{objeto.fechaInicio }}</td>
          <td>{{objeto.fechaFin }}</td>
          <td>
            <span [class]="objeto.estado ==1? 'etiqueta-activo':'etiqueta-inactivo'">{{objeto.estado ==1 ? 'ACTIVO':'INACTIVO'}}</span>
          </td>

          <td>
            <ng-container *ngIf="objeto.estado === 1">
              <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editarPeriodo(rowIndex)"></button>

              <button pButton pRipple type="button" icon="pi pi-trash"
                class="p-button-rounded boton-accion-secundaria p-mr-2" (click)="eliminar(rowIndex, $event)"></button>
              <p-confirmPopup></p-confirmPopup>
            </ng-container>
          </td>
        </tr>

      </ng-template>
    </p-table>
  </div>
</p-panel>
