<footer>
  <div class="pie p-d-flex p-flex-column p-flex-md-row">
    <div class="p-mb-2 p-mr-2" >
      <img src="assets/images/sistemasUNL_blanco.svg" style="width: 100%; height: 100%;  ">
    </div>
    <div class="p-mb-2 p-grid ">
      <span class="p-mt-3 p-col-12">
        <i class="pi pi-map-marker"></i>
        Ciudad Universitaria 'Ing. Guillermo Falconi Espinosa
      </span>
      <span class=" p-col-12">
        CARRERA DE INGENIERÍA EN SISTEMAS (UNL)
      </span>
      <span class="p-mb-1 p-col-12">
        <i class="pi pi-phone"></i>
        Telefono: 07-2546384 / 07-2547252(ext. 154-155)
      </span>
      <span class="p-mb-3 p-mt-3 p-col-12 p-text-center">
        <i class="pi pi-globe"></i>
        2021 todos los derechos reservados
      </span>
    </div>


    </div>

</footer>
