<p-panel header="Registro de materias">
  <div class="p-grid">
    <div class="p-col-12 p-grid" [formGroup]="formMateria">
      <div class="p-col-12 p-fluid p-pt-0 p-pb-0" [ngClass]="indiceActualizacion >= 0?'p-md-4':'p-md-5'">
        <div class="p-field">
          <label for="materias">Materias</label>
          <p-dropdown [options]="materias" inputId="materias" formControlName="materia" optionLabel="name"
            [filter]="true" filterBy="name" [showClear]="true" placeholder="Escoge una opcion"></p-dropdown>
          <input-invalido nombreControlError="materia"></input-invalido>
        </div>
      </div>

      <div class="p-col-12 p-fluid p-pt-0 p-pb-0" [ngClass]="indiceActualizacion >= 0?'p-md-4':'p-md-5'">
        <div class="p-field">
          <label for="periodoAcademico">Período Académico</label>
          <input id="modalidadTutoria" type="text" formControlName="periodoAcademico" pInputText>
          <input-invalido nombreControlError="periodoAcademico"></input-invalido>
        </div>
      </div>

      <div class="p-col-12 p-md-2 p-fluid" style="padding-top: 20px;">
        <div class="p-field">
          <button pButton pRipple type="button" [ngClass]="indiceActualizacion >= 0?'p-button-warning':'p-button-info'"
            [label]="indiceActualizacion >= 0?'Editar':'Guardar'" (click)="guardarMateria()"></button>
        </div>
      </div>

      <div class="p-col-12 p-md-2 p-fluid" style="padding-top: 20px;" *ngIf="indiceActualizacion >= 0">
        <div class="p-field">
          <button pButton pRipple type="button" class="boton-accion-secundaria" label="Cancelar"
            (click)="cancelarEdicion()"></button>
        </div>
      </div>




    </div>
    <div class="p-col-12">




      <p-table [value]="materiasDocente" styleClass="p-datatable-responsive-demo">
        <ng-template pTemplate="header">
          <tr>
            <th>Materia</th>
            <th>Periodo Académico</th>
            <th>Opción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-objeto let-rowIndex="rowIndex">
          <tr>
            <td>{{objeto.materia.name | uppercase}}</td>
            <td>{{objeto.periodoAcademico | uppercase}}</td>
            <td>
              <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="modificar(objeto.materia, rowIndex)"></button>

              <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded boton-accion-secundaria p-mr-2"
                (click)="eliminar(rowIndex, $event)"></button>
              <p-confirmPopup></p-confirmPopup>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</p-panel>
