.body{
  height: 100%;
  width: 100%;
  // background-color: rgb(180, 180, 180);
  padding: 0px;
  margin: 0px;
}
.fondo{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(/assets/images/unlFondo.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: blur(5px);  //5
  z-index: 0;
}
.formulario{
  z-index: 1;
}

:host ::ng-deep {
  .p-card-body, .p-card-content{
    padding-top: .5px;
  }
  .p-card{
    // background: linear-gradient(to bottom, #1d3557f7, #ffffff) !important;
   // background: linear-gradient(to bottom,#777777, #ffffff) !important;
   background-color: #1d3557f7 !important;
   color: aliceblue;
  }
}

