

    <p-panel header="Tutorías Agendadas">
      <div class="p-col-12"  *ngIf="!mostrarFomularioCancelacion">
        <div class="p-d-flex p-jc-center">
          <div class="p-mr-2">
            <button pButton pRipple type="button" icon="pi pi-table" iconPos="left" label="Tabla"
              class="p-button-rounded boton-accion-secundaria p-mr-2" (click)="tipoVista = 1; idEventoSeleccionado='' "></button>
          </div>
          <div>
            <button pButton pRipple type="button" icon="pi pi-calendar" iconPos="left" label="Calendario"
              class="p-button-rounded boton-accion-secundaria p-mr-2" (click)="tipoVista = 0"></button>

          </div>
        </div>
      </div>
      <!-- tabla para ver citas reagendadas -->
      <ng-container *ngIf="tipoVista == 1">
        <p-table [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          urrentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
          [value]="lista" #dt1 *ngIf="!mostrarFomularioCancelacion" [value]="lista" #dt1
          [globalFilterFields]="['nombresSolicitante','fecha','hora','temaTutoria']"
          styleClass="p-datatable-responsive-demo">
          <ng-template pTemplate="caption">
            <div class="p-d-flex">
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Búsqueda" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr style="font-size: 16px;">
              <th>Tema Tutoría</th>
              <th>Solicitante</th>
              <th>Hora Inicio</th>
              <th>Fecha</th>
              <th>Modalidad</th>
              <th>Opción</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-producto let-rowIndex="rowIndex">
            <tr style="font-size: 15px;">
              <td>{{producto.temaTutoria}}</td>
              <td>{{producto.nombresSolicitante}}</td>
              <td>{{producto.hora}}</td>
              <td>{{producto.fecha}}</td>
              <td>{{producto.modalidad ==1? 'Individual':'Grupal'}}</td>
              <td>
                <button pButton pRipple type="button" icon="pi pi-thumbs-up"
                  class="p-button-rounded p-button-success p-mr-2" (click)="verFormularioActividad(rowIndex)"></button>

                <button pButton pRipple type="button" icon="pi pi-clock" class="p-button-rounded p-button-info p-mr-2"
                  (click)="presentarFormularioReagendacion(rowIndex)"></button>

                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                  (click)="cancelarReserva(rowIndex)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>


      <!-- calendario -->
      <ng-container *ngIf="tipoVista == 0" >
        <div class="p-grid"  *ngIf="!mostrarFomularioCancelacion">
          <div class="p-col-12 p-md-8 "  >
            <full-calendar class="fecha" [options]="calendarOptions"></full-calendar>
          </div>


          <div class="p-col-12 p-grid p-md-4 ">
             <p-panel header="Descripción tutoría">
              <div >
                <h2 class="p-text-center p-pt-3">{{diaSeleccionado?.temaTutoria | uppercase}}</h2>

                <span><p><b>Solicitante: </b>{{diaSeleccionado?.nombresSolicitante | uppercase}} </p></span>
                <p><b>Hora:</b>  {{diaSeleccionado?.hora}} </p>
                <p><b>Modalidad: </b>{{diaSeleccionado?.modalidad ==1? 'Individual':'Grupal'}} </p>

                  <div class="p-d-flex p-flex-column p-flex-md-row">
                    <button pButton pRipple type="button" icon="pi pi-thumbs-up"
                      class="p-button-rounded p-button-success p-mr-2" (click)="verFormularioActividad(idEventoSeleccionado)"></button>

                    <button pButton pRipple type="button" icon="pi pi-clock" class="p-button-rounded p-button-info p-mr-2"
                      (click)="presentarFormularioReagendacion(idEventoSeleccionado)"></button>

                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger"
                      (click)="cancelarReserva(idEventoSeleccionado)"></button>
                </div>


              </div>
          </p-panel>


          </div>

        </div>
      </ng-container>


      <!-- para la parte de dar tutoria -->
      <div class="p-col-12 p-md-8 p-md-offset-2 p-grid" [formGroup]="formularioActividad"
        *ngIf="mostrarFomularioCancelacion == 1">
        <div class="p-col-12 ">
          <h3 class="p-mt-0 p-mb-0 p-text-center"> <b style="font-size: 18px;"> Registro Actividad</b> </h3>
        </div>
        <div class="p-col-12 p-md-4 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="fecha" style="font-size: 16px;">Fecha</label>
            <input id="fehca" type="text" formControlName="fecha" pInputText>
            <input-invalido nombreControlError="fecha"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-md-4 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="hora" style="font-size: 16px;">Hora</label>
            <input id="hora" type="text" formControlName="hora" pInputText>
            <input-invalido nombreControlError="hora"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-md-4 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <!-- Campo usado para establecer si es acadmica o titulacion -->
            <label for="modalidadTipo" style="font-size: 16px;">Tipo Tutoría</label>
            <input id="modalidadTipo" type="text" formControlName="tipoTutoria" pInputText>
            <input-invalido nombreControlError="tipoTutoria"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="temaTutoria" style="font-size: 16px;">Tema tutoría</label>
            <textarea pInputTextarea id="temaTutoria" [rows]="1" [cols]="15" autoResize="autoResize"
              formControlName="temaTutoria"></textarea>
            <input-invalido nombreControlError="temaTutoria"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="modalidadTutoria" style="font-size: 16px;">Modalidad Tutoría</label>
            <input id="modalidadTutoria" type="text" formControlName="modalidadTutoria" pInputText>
            <input-invalido nombreControlError="modalidadTutoria"></input-invalido>
          </div>
        </div>

        <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="participantes" style="font-size: 16px;">Participantes <span><small>(Marcar
                  asistencia)</small></span></label>
            <p-multiSelect [options]="listaParticipantesTutoria" inputId="participantes"
              defaultLabel="Selecciona participantes" optionLabel="name" filter="true" filterBy="name" display="chip"
              formControlName="participantes"></p-multiSelect>
            <input-invalido nombreControlError="participantes"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-fluid p-pt-0 p-pb-0" *ngIf="formularioActividad.get('tipoTutoria').value == 'Titulación'">
          <div class="p-field">
            <label for="informacionTesista" style="font-size: 16px;">Información Tesista </label>
            <textarea pInputTextarea id="informacionTesista" [rows]="7" [cols]="15" autoResize="autoResize"
              formControlName="informacionTesista"></textarea>
            <input-invalido nombreControlError="informacionTesista"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="actividad" style="font-size: 16px;">Registra la actividad de la tutoría</label>
            <textarea pInputTextarea id="actividad" [rows]="7" [cols]="15" autoResize="autoResize"
              formControlName="actividad"></textarea>
            <input-invalido nombreControlError="actividad"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-md-6 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="youtube" style="font-size: 16px;">Youtube</label>

            <input id="youtube" type="text" formControlName="youtube" pInputText>
            <input-invalido nombreControlError="youtube"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-md-6 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="repositorio" style="font-size: 16px;">Repositorio</label>
            <input id="repositorio" type="text" formControlName="repositorio" pInputText>
            <input-invalido nombreControlError="repositorio"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
          <div class="p-field">
            <label for="modoTutoria" style="font-size: 16px;">Modo Tutoría</label>
            <div class="p-grid p-pt-0">
              <div class="p-col-12 p-md-6">
                <p-radioButton inputId="modoTutoria" value="0" label="Presencial" formControlName="modalidad">
                </p-radioButton>
              </div>
              <div class="p-col-12 p-md-6">
                <p-radioButton inputId="modoTutoria" value="1" label="Virtual" formControlName="modalidad">
                </p-radioButton>
              </div>
            </div>
            <input-invalido nombreControlError="modalidad"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-d-flex p-jc-center">
          <div class="p-mr-2 "><button pButton pRipple type="button" label="Guardar" icon="pi pi-save"
              (click)="guardarRegistroActividad()"></button>
          </div>
          <div><button pButton pRipple type="button" label="Cancelar" class="p-button-danger" icon="pi pi-times"
              (click)="resetearDatos()"></button></div>
        </div>
      </div>

      <!-- Reagendar -->
      <div class="p-col-12 p-md-10 p-md-offset-1 p-grid" [formGroup]="formularioReagendacion"
        *ngIf="mostrarFomularioCancelacion == 2">
        <div class="p-col-12 ">
          <h3 class="p-mt-0 p-mb-0 p-text-center" style="font-size: 18px;">Reagendar Tutoría</h3>
        </div>
        <div class="p-col-12 p-grid">
          <div class="p-col-12 p-md-6 p-d-flex p-ai-center">
            <p-calendar [inline]="true" formControlName="fecha" [disabledDays]="diasDesabilitados"
              [disabledDates]="fechasDeshabilitadas" [readonlyInput]="true" [locale]="es"></p-calendar>
          </div>
          <div class="p-col-12 p-md-6 p-grid">
            <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
              <div class="p-field">
                <label for="temaTutoria" style="font-size: 16px;">Tema Tutoría</label>
                <input id="temaTutoria" type="text" formControlName="temaTutoria" pInputText>
                <input-invalido nombreControlError="temaTutoria"></input-invalido>
              </div>
            </div>
            <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
              <div class="p-field">
                <label for="solicitante" style="font-size: 16px;">Solicitante</label>
                <input id="solicitante" type="text" formControlName="solicitante" pInputText>
                <input-invalido nombreControlError="solicitante"></input-invalido>
              </div>
            </div>
            <div class="p-col-12 p-md-6 p-fluid p-pt-0 p-pb-0">
              <div class="p-field">
                <label for="modalidadTutoria" style="font-size: 16px;">Modalidad</label>
                <input id="modalidadTutoria" type="text" formControlName="modalidadTutoria" pInputText>
                <input-invalido nombreControlError="modalidadTutoria"></input-invalido>
              </div>
            </div>
            <div class="p-col-12 p-md-6 p-fluid p-pt-0 p-pb-0">
              <div class="p-field">
                <label for="tipoTutoria" style="font-size: 16px;">Tipo Tutoría</label>
                <input id="tipoTutoria" type="text" formControlName="tipoTutoria" pInputText>
                <input-invalido nombreControlError="tipoTutoria"></input-invalido>
              </div>
            </div>
            <div class="p-col-12 p-fluid p-pt-0 p-pb-0">
              <div class="p-field">
                <label for="mensaje" style="font-size: 16px;">¿Por qué desea reagendar?</label>
                <textarea pInputTextarea id="mensaje" [rows]="7" [cols]="15" autoResize="autoResize"
                  formControlName="mensaje"></textarea>
                <input-invalido nombreControlError="mensaje"></input-invalido>
              </div>
            </div>
            <div class="p-col-12 p-md-6 p-fluid p-pt-0 p-pb-0">
              <div class="p-field">
                <label for="dia" style="font-size: 16px;">Día</label>
                <input id="dia" type="text" formControlName="dia" pInputText>
                <input-invalido nombreControlError="dia"></input-invalido>
              </div>
            </div>
            <div class="p-col-12 p-md-6 p-fluid p-pt-0 p-pb-0">
              <div class="p-field">
                <label for="horaInicio" style="font-size: 16px;">Hora tutoría</label>
                <p-dropdown [options]="listaHorasDisponibles" formControlName="horaInicio" optionLabel="name"
                  placeholder="Seleccione la hora" *ngIf="listaHorasDisponibles.length>0"></p-dropdown>
                <p *ngIf="listaHorasDisponibles.length==0" style="color: #007bff; font-weight: 500;">No hay horas
                  disponibles.</p>
                <input-invalido nombreControlError="horaInicio"></input-invalido>
              </div>
            </div>
          </div>
        </div>
        <div class="p-col-12 p-d-flex p-jc-center">
          <div class="p-mr-2"><button pButton pRipple type="button" label="Guardar" icon="pi pi-save"
              (click)="guardarReagendacion()"></button>
          </div>
          <div><button pButton pRipple type="button" label="Cancelar" class="p-button-danger" icon="pi pi-times"
              (click)="resetearDatos()"></button></div>
        </div>
      </div>

      <!-- cancelar la reserva -->
      <div class="p-col-10 p-offset-1 p-sm-4 p-sm-offset-4 p-grid" *ngIf="mostrarFomularioCancelacion == 3">
        <div class="p-col-12 p-fluid">
          <div class="p-field" [formGroup]="formularioCancelacion">
            <label for="motivo" style="font-size: 16px;"><b>¿Por qué desea cancelar la reserva de
                tutoría?</b><br><br></label>
            <textarea pInputTextarea id="motivo" [rows]="5" [cols]="15" autoResize="autoResize"
              formControlName="motivo"></textarea>
            <input-invalido nombreControlError="motivo"></input-invalido>
          </div>
        </div>
        <div class="p-col-12 p-d-flex p-jc-center">
          <div class="p-mr-2"><button pButton pRipple type="button" label="Guardar" icon="pi pi-save"
              (click)="guardarCancelacion()"></button>
          </div>
          <div><button pButton pRipple type="button" label="Cancelar" class="p-button-danger" icon="pi pi-times"
              (click)="resetearDatos()"></button></div>
        </div>
      </div>

    </p-panel>




