
:host ::ng-deep {

  .ng-star-inserted>.p-disabled{
    color: rgba(128, 128, 128, 0.301) !important;
  }
  .p-datepicker {
    background: #8080800d !important;
  }
  .ng-star-inserted>.p-ripple{
    color: rgb(33, 66, 109);
    font-weight: bolder;
  }
  li>.ng-star-inserted{
    color: #495057;
    font-weight: normal;
  }
}


@media screen and (max-width: 40rem) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr > td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;

                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }

  }
